.header {
  display: flex;
  justify-content: center;
  background-color: $green;
  margin: 0 0 10px;
  position: relative;
}

.header__image {
  width: 100%;
}

.header__link {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 50%;
}
