.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue;
  background-color: white;
  padding: 30px 10%;

  img {
    padding: 20px 0;
  }

  .btn__novi {
    border: 2px solid $green;
    padding: 10px 20px;
    color: $green;
  }

  a {
    color: $green;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: $green;
      color: $blue;
      box-shadow: 2px 2px 5px $blue;
    }
  }
}
