<section>
  {{> header }}
  <main class="imprint">
    <h3>Impressum</h3>
    <p>Angaben gemäß § 5 TMG, ver­ant­wort­lich für den Inhalt nach § 55 Abs. 2 RStV:</p>
    <p>Dialooog UG (haftungsbeschränkt)
      <br>Gojenbergsweg 17
      <br>21029 Hamburg
    </p>
    <p class="pt-3">Geschäftsführerin: Andrea Uecker</p>
    <h4>Kontakt</h4>
    <a href="mailto:hello@dialooog.de">hello@dialooog.de</a>
    <br>
    <a href="tel:+4917622675371">+49176/22675371</a>
    </br>
    </p>
    <h4>Eintragung im Handelsregister</h4>
    <p>Amtsgericht xxx
      <br>Registernummer: HRB xxxxm B
    </p>
    <h4>Umsatzsteuer-ID</h4>
    <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
      <br>DExxxxx
    </p>
  </main>
  {{> footer }}
</section>