<section>
  {{> header }}

  <main>
    <section class="about" id='home'>
      Ein Chatbot oder kurz Bot ist ein textbasiertes Dialogsystem, welches das Chatten mit einem technischen System erlaubt. Er
      hat je einen Bereich zur Textein- und -ausgabe, über die sich in natürlicher Sprache mit dem dahinterstehenden System
      kommunizieren lässt. Technisch sind Bots näher mit einer Volltextsuchmaschine verwandt als mit künstlicher oder gar
      natürlicher Intelligenz. Es gibt auch virtuelle persönliche Assistenten oder auch Chatbots, die gar nicht erst versuchen,
      wie ein menschlicher Chatter zu wirken, sondern ähnlich wie IRC-Dienste nur auf spezielle Befehle reagieren. Sie können
      als Schnittstelle zu Diensten außerhalb des Chats dienen, oder auch Funktionen nur innerhalb ihres Chatraums anbieten,
      z. B. neu hinzugekommene Chatter mit dem Witz des Tages begrüßen.
    </section>
    <section>
      {{> contactform }}
    </section>
    <section class="project" id='project'>
      Nachrichten für ein junges Publikum: Tagesschau und Funk nutzen unser cms, um in einem geführten Gespräch, die täglichen
      Nachrichten vorzubereiten.
      <img src="images/shake-project-novi.png" alt="Novi">
      <a href="https://novi.funk.net/" class="btn__novi">Sprich mit mir</a>
    </section>
    <section class="philosophy" id='philosophy'>
      <h4>Es geht um die Menschen</h4>
      <p>Wir entwickeln gerne Produkte und Dienstleistungen für die Bedürfnisse der Menschen, nicht umgekehrt. Weil neue Technologien
        nur so gut und relevant sind, wie sie das Leben der Menschen bereichern können - entweder durch Produktivitätssteigerung,
        indem sie ihnen helfen, sich mit anderen zu verbinden, oder in purer Unterhaltung.
      </p>
      <h4>Ändere deine Perspektive</h4>
      <p>Haben Sie Zweifel an Ihrer Qualifikation für die Zukunft? Nun, Sie haben das meiste Know-how bereits in Ihrem Unternehmen.
        Fragen Sie sich einfach selbst, wie Sie im Hinblick auf die Unterstützung von Menschen besser werden möchten. Wir
        möchten Sie durch diesen Prozess führen.
      </p>
      <h4>Woran wir glauben</h4>
      <p>Es ist viel besser, ein First Mover zu sein, als nach der Konkurrenz zu rennen. Denken Sie nicht an fertige Produktzyklen,
        sondern an einen fortlaufenden Prozess der Anpassung und Verfeinerung. Jedes Unternehmen ist heutzutage ein Medienunternehmen,
        das die Aufmerksamkeit seiner Nutzer auf sich zieht.
      </p>
    </section>
    <section class="team" id='team'>
      <h2>Team</h2>
      <section class="person">
        <section id='email'>
          <img src="images/team-andrea.png" alt="Andrea">
          <h4>Andrea Uecker</h4>
          <p>CEO / Business Strategist</p>
          <a class="btn__email" href="mailto:hello@dialooog.de">hello@dialooog.de</a>
        </section>
        <section>
          <img src="images/team-david.png" alt="David">
          <h4>David Streit</h4>
          <p>Media Strategist</p>
        </section>
        <section>
          <img src="images/johan_dummy.png" alt="Johan">
          <h4>Johan Dettmer</h4>
          <p>Backend-Developer</p>
        </section>
        <section>
          <img src="images/tina.png" alt="Tina">
          <h4>Christina Tange</h4>
          <p>Frontend-Developer</p>
        </section>
      </section>
    </section>
  </main>
  {{> footer }}
</section>