<section>
  {{> header }}

  <main>
    <section class="about" id='home'>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed dia voluptua. At vero eos et accusam
      et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus es Lorem ipsum dolor sit amet.
    </section>
    <section class="project" id='project'>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
      no sea takimata sanctus est Lorem ipsum dolor sit amet. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      <img src="images/shake-project-novi.png" alt="Novi">
      <a href="https://novi.funk.net/" class="btn__novi">Sprich mit mir</a>
    </section>
    <section class="philosophy" id='philosopy'>
      <h4>It’s all about the people</h4>
      <p>We like to design products and services for real peoples needs, not the other way around. Because new technologies
        are only as good and relevant, as they are able to enrich peoples life – either by increasing productivity, helping
        them to connect with others or in terms of pure entertainment.
      </p>
      <h4>Change your perspective</h4>
      <p>Do you have doubts about your qualification to take on the future? Well, you already have most of the know-how right
        inside your company. Just ask yourself how you would like to become better in terms of helping people. We would like
        to guide you through this process.
      </p>
      <h4>What we believe in</h4>
      <p>It’s way better to be a first mover then to run after your competition. Don’t think in terms of finished product cycles,
        but in an ongoing process of adaption and refinement. Every company is a media company nowadays, who daytrades their
        users attention.
      </p>
    </section>
    <section class="team" id='team'>
      <h2>Team</h2>
      <section id='email'>
        <img src="images/team-andrea.png" alt="Andrea">
        <h4>Andrea Uecker</h4>
        <p>CEO / Business Strategist</p>
        <a class="btn__email" href="mailto:hello@dialooog.de">hello@dialooog.de</a>
      </section>
      <section>
        <img src="images/team-david.png" alt="David">
        <h4>David Streit</h4>
        <p>Media Strategist</p>
      </section>
      <section>
        <img src="images/johan_dummy.png" alt="Johan">
        <h4>Johan Dettmer</h4>
        <p>Backend-Developer</p>
      </section>
      <section>
        <img src="images/tina.png" alt="Tina">
        <h4>Christina Tange</h4>
        <p>Frontend-Developer</p>
      </section>
    </section>
  </main>
  {{> footer }}
</section>