<footer>
  <div class="arrow">
    <a href="#" class="btn">
      <img src="images/arrow_up_sms.svg" width="50px" alt="Pfeil">
    </a>
    <p>Zurück zum Anfang</p>
  </div>
  <div class="footer__text">
    <a href="#" class="btn">
      Impressum
    </a>
    <a href="#" class="btn">
      Datenschutz
    </a>
  </div>
</footer>