<header class="header">
  <img class="header__image" src="images/logo_wh_1.svg" alt="Logo">
  <!-- Collapse button -->
  <button class="header__button">
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
  </button>
  {{> nav }}
</header>