<nav class="header__nav">
  <a href="#project">Projekt</a>
  <a href="#philosophy">Philosophie</a>
  <a href="#team">Team</a>
  <a href="#email">Kontakt</a>
  <a href="#imprint">Impressum</a>
  <a href="#privacy">Datenschutz</a>
</nav>